// Colors
$background: #f7f7f7;
$text-primary: #ed9e84;
$text-secondary: #d1dc72;
$text-muted: #000000;
$text-black: #000000;

// Typography
$font-sans: 'Arial Narrow', sans-serif;

// Breakpoints
$breakpoint-mobile: 600px;